.masthead(class=(title == 'Home') ? undefined : 'grayscale')
   a(href='/')
      img(src="/public/images/ok_sign_wide_layout_bold_tag.png", class="navbar-logo")
   .inner.navbar-right
     nav
       ul.nav.masthead-nav
         li(class=(title == 'How it works') ? 'active' : undefined)
           a(href='/#howitworks') How it works
         li(class=(title == 'Blog') ? 'active' : undefined)
           a(href='#howitworks') Blog
         li(class=(title == 'Newsletter') ? 'active' : undefined)
           a(href='#howitworks') Newsletter
         li(class=(title == 'Contact Us') ? 'active' : undefined)
           a(href='#howitworks') Contact Us
         if !user
           li(class=(title == 'Login') ? 'active' : undefined)
             a(href='/login') Login
         else
           li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
             a.dropdown-toggle(href='#', data-toggle='dropdown')
               if user.profile.picture
                 img(src=user.profile.picture).img-circle
               else
                 img(src=user.gravatar(60)).img-circle
               span= user.profile.name || user.email || user.id
               i.caret
             ul.dropdown-content
               li
                 a(href='/account/profile') Account
               li.divider
               li
                 a(href='/logout') Logout
