    <!--ends container -->
    </div>

    <footer>
        <div class="footer">
            <p>&copy; 2016 Bargainbetter, Inc. <a href="/privacy">Privacy</a>, <a href="/terms">Terms & Conditions</a></p>
        </div>
    </footer>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/public/js/script.js"></script>
</body>
</html>