<header>
    <div class="masthead clearfix">
        <a href="/" class="navbar-left"><img class="navbar-logo" style="max-width: 300px" src="/public/images/ok_sign_wide_layout_bold_tag.png"></a>
        <div class="inner navbar-right">
            <nav>
                <ul class="nav masthead-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/#howitworks" onclick="highlight('howitworks')">How it works</a></li>
                    <li><a href="/#about" onclick="highlight('about')">About</a></li>
                    <li><a href="http://bargainbetter.blogspot.com/" onclick="highlight('blog')">Blog</a></li>
                    <li><a href="/info" onclick="highlight('newsletter')">Newsletter</a></li>
                    <li><a href="mailto:info@bargainbetter.com?Subject=Info%20requested" onclick="highlight('contact')">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>