<% include head %>

<body>

<div class="carousel">

    <% include header %>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>BargainBetter Newsletters</h1>
                    <p>In our initial phase, we will be sending out weekly newsletters that will feature products within your network. Sign up today, it's free!</p>
                    <p><a href="/oauth/linkedin" class="btn btn-block btn-social btn-linkedin col-centered">
                            <span class="fa fa-linkedin"></span>
                            Continue with LinkedIn
                        </a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer %>