html,
body {
    height: 100%;
    color: #5a5a5a;;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 21px;
    font-weight: 300;
    color: #333;
    margin-bottom: 5px;
}

h3 {
    margin-top: 10px;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.7em;
    line-height: 21px;
    font-weight: 300;
    color: #333;
    margin-bottom: 5px;
}


h4 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 21px;
    font-weight: 300;
    color: #333;
    margin-bottom: 5px;
}

.container {
    margin-top: 100px;
}

footer > a,
footer > a:focus,
footer > a:hover {
    color: #5a5a5a;
    text-decoration: none;
}

input {
    border-radius: 5px;
    /*width: 70%;*/
    height: 45px;
    border: 1px solid #aaa;
    padding-left: 20px;
}

.coverpage
{
    height: 100%;
    background: url('./images/background.jpg') no-repeat center fixed; /* credit: http://startupstockphotos.com/ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,1);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.inner {
    padding: 30px;
    margin-right:40px
}

/*
 * Header
 */
.masthead {
    z-index: 500; /* bring it front */
    background-color: transparent;  /*#5a5a5a;*/
}

.grayscale {
    background-color: #5a5a5a;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #000; /* IE8 proofing */
    color: rgba(255,255,255,1);
    border-bottom: 5px solid transparent;
    padding-bottom: 5px;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a.active,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #27A8E0 !important;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #27A8E0;
}

/* max-width is 480px */
@media (max-width: 30em) {

    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }

    /* do nothing with masthead for now */
    .masthead {
        display: none;
    }
}

/*
 * Affix and center
 */

@media (min-width: 31em) {
    /* Pull out the header and footer */
    .masthead {
        color: #fff;
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .masthead,
    .mastfoot
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-logo {
    float: left;
    margin-left: 10px;
    max-width: 300px;
}


/* NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}




/* Top-Section (carousel)
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 650px;
    margin-bottom: 60px;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    /*background-color: #777;*/
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* FEATURES
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    text-align:left;
}

p.lead {
    text-align: left;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* big ass awesome fonts */
.fa-5 {
    font-size: 80pt !important;
    color: #27A8E0;
}

/* privacy policy */
.document-container {
    margin-top: 140px;
    text-align: left;
}

.btn-linkedin {
    width: 222px;
    font-weight: bold;
}

.btn-facebook {
    width: 222px;
    font-weight: bold;
}

.col-centered {
    margin: 0 auto;
}

.img-circle {
    border-radius: 50%;
    border: #27A8E0;
    width: 40px;
    margin-right: 5px
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}