<!DOCTYPE html>
    <html lang="en" ng-app="myApp">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Bring trust back to e-commerce.</title>

        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/vendor/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css">
    </head>