<% include header %>


<body class="coverpage">
<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand">BarginBetter</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </nav>
            </div>
        </div>


        <div class="inner">
            <h1 class="cover-heading">Plug in your network. Transact with trust.</h1>
            <p class="lead">Bargain Better unites buyers with sellers using social connections.</p>
            <div class="lead">
                <a href="/oauth/linkedin" class="btn btn-block btn-social btn-linkedin col-centered">
                    <span class="fa fa-linkedin"></span>
                    Continue with LinkedIn
                </a>
            </div>
        </div>
    </div>
</div>  

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>
