<% include header %>

        <!--<div class="customGrid regular-text">-->
            <!--<h2>Thanks for signing up!</h2>-->
            <!--<h4>You have been added to our mailing list.</h4>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<body class="registration">
<!--<div class="site-wrapper">-->
    <!--<div class="site-wrapper-inner">-->
        <!--<div class="masthead clearfix">-->
            <!--<div class="inner">-->
                <!--<h3 class="masthead-brand">BarginBetter</h3>-->
                <!--<nav>-->
                    <!--<ul class="nav masthead-nav">-->
                        <!--<li><a href="#">Home</a></li>-->
                        <!--<li><a href="#">About</a></li>-->
                        <!--<li><a href="#">Newsletter</a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>No more dark alleys or strange rendevous.</h1>
                    <p>Find people that you know.  Post, Negotiate, Sell.</p>
                    <p><a class="btn btn-lg btn-primary" href="/profile/<%= token %>" role="button">Sign up, it's free!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
            <i class="fa fa-camera fa-5" aria-hidden="true"></i>
            <h2>Post</h2>
            <p>Buy or Sell by posting to the exchange. You only your name, a picture of the item, and a price. Don't forget to factor in shipping.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
            <i class="fa fa-comments-o fa-5" aria-hidden="true"></i>
            <h2>Negotiate</h2>
            <p>Negotiate by clicking on the seller or buyer link in the newsletter.  Exchange shipping information or exchange meeting point if you are meeting in person.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <!--<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
            <i class="fa fa-credit-card fa-5" aria-hidden="true"></i>
            <h2>Sell</h2>
            <p>Exchange funds using Venmo or Paypal. No cash! Provide feedback on the buyer and the experience.</p>
        </div>
    </div>
</div>

 <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>