a,
a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

.btn-awesome {
    color: #fff;
    text-shadow: none;
    border-radius: 50px;
    font-size: 20px;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 21px;
    font-weight: 300;
    color: #333;
    margin-bottom: 5px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 21px;
    font-weight: 300;
    color: #333;
}

.btn-linkedin {
    width: 202px;
}

.btn-register {
    width: 202px;
}
.btn-register:hover {
    color: #aaa
}

.col-centered {
    margin: 0 auto;
}

.register-seperator {
    margin-bottom: 0;
}

/* Structure */

html,
body {
    height: 100%;
    color: #fff;
    /*background-color: rgba(0,0,0,.5);*/
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    background-color: #000;
}

.regular-text {
    color: rgba(0,0,0,.5);
    text-shadow: none;
}

input {
    border-radius: 5px;
    width: 70%;
    height: 45px;
    border: 1px solid #aaa;
    padding-left: 20px;
}

.field {
    margin-top: 13px;
}

.or {
    margin-top:22px;
    margin-bottom:22px;
}

.label {
    position: absolute;
    left: 14px;
    z-index: 1;
    color: #666;
    cursor: text;
}

.coverpage
{
    height: 100%;
    background: url('./images/background.jpg') no-repeat center fixed; /* credit: http://startupstockphotos.com/ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,1);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #000; /* IE8 proofing */
    color: rgba(255,255,255,1);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}



/*
 * Affix and center
 */

@media (min-width: 40em) {
    /* Pull out the header and footer */
    .masthead {
        color: #fff;
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 90%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .masthead,
    .mastfoot
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}

.customGrid {
    padding: 20px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 auto;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.groupOfFields {
    padding-top: 24px;
    padding-bottom: 24px;
}



/* ---------------  NEW PROFILE --------------------- */


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.registration {
    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
    background: url('./images/streets.jpeg') no-repeat center fixed;
    background-size: cover;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    /*background-color: #777;*/
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.img-circle {
    margin-bottom: 30px;
}

.fa-5 {
    font-size: 72pt !important;
}
